toggle_dark_mode i

copy y

move_right h
move_left l

next_chapter gj
prev_chapter gk


screen_down d
screen_up u

next_page f
previous_page b

add_bookmark <C-b>
open_link <C-f>

fit_to_page_width w
fit_to_page_height e

prev_state <C-o>
next_state <C-i>

open_document_embedded o

zoom_in  =
zoom_out -


goto_mark '
