@define-color gb_bg #282828;
@define-color gb_bg_alt #32302f;
@define-color gb_bg_soft #3c3836;
@define-color gb_fg #d4be98;
@define-color gb_gray #928374;
@define-color gb_gray_dim #a89984;
@define-color gb_red #ea6962;
@define-color gb_green #a9b665;
@define-color gb_yellow #d8a657;
@define-color gb_orange #e78a4e;
@define-color gb_blue #7daea3;
@define-color gb_purple #d3869b;
@define-color gb_aqua #89b482;

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

window#waybar {
    background-color: rgba(40, 40, 40, 0.88);
    border-bottom: 3px solid rgba(60, 56, 54, 0.85);
    color: @gb_fg;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: @gb_fg;
}
*/

window#waybar.termite {
    background-color: @gb_bg_soft;
}

window#waybar.chromium {
    background-color: @gb_bg;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px @gb_yellow;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
    background-color: @gb_orange;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: @gb_fg;
}

#workspaces button:hover {
    background: rgba(60, 56, 54, 0.6);
}

#workspaces button.focused {
    background-color: @gb_bg_soft;
    box-shadow: inset 0 -3px @gb_yellow;
}


#mode {
    background-color: @gb_bg_soft;
    box-shadow: inset 0 -3px @gb_yellow;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 10px;
    color: @gb_fg;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: @gb_bg_soft;
}

#battery {
    background-color: @gb_fg;
    color: @gb_bg;
}

#battery.charging, #battery.plugged {
    color: @gb_bg;
    background-color: @gb_green;
}

@keyframes blink {
    to {
        background-color: @gb_fg;
        color: @gb_bg;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: @gb_red;
    color: @gb_bg;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
    padding-right: 15px;
}

#power-profiles-daemon.performance {
    background-color: @gb_red;
    color: @gb_bg;
}

#power-profiles-daemon.balanced {
    background-color: @gb_blue;
    color: @gb_bg;
}

#power-profiles-daemon.power-saver {
    background-color: @gb_green;
    color: @gb_bg;
}

label:focus {
    background-color: @gb_bg;
}

#cpu {
    background-color: @gb_green;
    color: @gb_bg;
}

#memory {
    background-color: @gb_purple;
    color: @gb_bg;
}

#disk {
    background-color: @gb_orange;
    color: @gb_bg;
}

#backlight {
    background-color: @gb_aqua;
    color: @gb_bg;
}

#network {
    background-color: @gb_blue;
    color: @gb_bg;
}

#network.disconnected {
    background-color: @gb_red;
}

#pulseaudio {
    background-color: @gb_yellow;
    color: @gb_bg;
}

#pulseaudio.muted {
    background-color: @gb_gray;
    color: @gb_bg;
}

#wireplumber {
    background-color: @gb_fg;
    color: @gb_bg;
}

#wireplumber.muted {
    background-color: @gb_red;
}

#custom-media {
    background-color: @gb_aqua;
    color: @gb_bg;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: @gb_green;
}

#custom-media.custom-vlc {
    background-color: @gb_orange;
}

#temperature {
    background-color: @gb_orange;
    color: @gb_bg;
}

#temperature.critical {
    background-color: @gb_red;
}

#tray {
    background-color: @gb_blue;
    color: @gb_bg;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @gb_red;
}

#idle_inhibitor {
    background-color: @gb_bg_soft;
}

#idle_inhibitor.activated {
    background-color: @gb_fg;
    color: @gb_bg;
}

#mpd {
    background-color: @gb_aqua;
    color: @gb_bg;
}

#mpd.disconnected {
    background-color: @gb_red;
}

#mpd.stopped {
    background-color: @gb_gray;
}

#mpd.paused {
    background-color: @gb_green;
}

#language {
    background: @gb_aqua;
    color: @gb_bg;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: @gb_green;
    color: @gb_bg;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(40, 40, 40, 0.35);
}

#scratchpad {
    background: rgba(60, 56, 54, 0.6);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: @gb_bg;
}

#privacy-item.screenshare {
    background-color: @gb_orange;
}

#privacy-item.audio-in {
    background-color: @gb_green;
}

#privacy-item.audio-out {
    background-color: @gb_blue;
}
