[Unit]
Description=Darkman service

[Service]
Type=dbus
BusName=nl.whynothugo.darkman
ExecStart=/usr/bin/darkman run
Restart=on-failure

[Install]
WantedBy=default.target
