[Unit]
Description=Kanata keyboard remapper
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/local/bin/kanata_cmd_allowed --cfg /home/shafed/.config/kanata/config.kbd
Restart=on-failure
Environment=DISPLAY=:0
Environment=XAUTHORITY=%h/.Xauthority

[Install]
WantedBy=default.target
