[Unit]
Description=V2RayN
After=network.target

[Service]
Type=simple
ExecStart=/home/shafed/.config/v2rayn/v2.config
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target
