/* another quick swither */

.another-quick-switcher__status__count-input {
  top: 1rem;
}

.prompt,
.prompt.another-quick-switcher__floating-prompt {
  position: absolute;
  top: 42px !important;
  left: 3px !important;
  min-width: 570px;
  max-width: 570px;
  max-height: 96%;
  box-shadow: none;
}

.prompt .suggestion-item {
  font-size: 100%;
  padding: 3px;
}

.modal-bg {
  background-color: transparent;
}

.another-quick-switcher__status__default-input,
.another-quick-switcher__status__search-command,
.another-quick-switcher__header__auto-preview-icon,
.another-quick-switcher__custom-search__navigation-history-header,
.another-quick-switcher__command_buttons {
  display: none;
}

.another-quick-switcher__floating-prompt *,
.another-quick-switcher__item *,
.another-quick-switcher__modal-prompt * {
  font-weight: normal !important;
}